{
  "HTTPS_PORT": 8081,
  "hosts": "127.0.0.1",
  "uri": "https://api.trustedservices.intel.com/sgx/certification/v4/",
  "ApiKey": "{{ lium_intel_api_key }}",
  "proxy": "",
  "RefreshSchedule": "0 0 1 * *",
  "UserTokenHash": "{{ lium_pccs_user_token | hash('sha512') }}",
  "AdminTokenHash": "{{ lium_pccs_user_token | hash('sha512') }}",
  "CachingFillMode": "LAZY",
  "LogLevel": "info",
  "DB_CONFIG": "sqlite",
  "sqlite": {
    "database": "database",
    "username": "username",
    "password": "password",
    "options": {
      "host": "localhost",
      "dialect": "sqlite",
      "pool": {"max": 5, "min": 0, "acquire": 30000, "idle": 10000},
      "define": {"freezeTableName": true},
      "logging": false,
      "storage": "pckcache.db"
    }
  }
}
